@font-face {
	font-family: "Vazir";
	src: url("./fonts/Vazir.eot");
	/* IE9 Compat Modes */
	src: url("./fonts/Vazir.eot?#iefix") format("embedded-opentype"),
		url("./fonts/Vazir.woff2") format("woff2"),
		url("./fonts/Vazir.woff") format("woff"),
		url("./fonts/Vazir.ttf") format("truetype");
	/* Safari, Android, iOS */
}

@font-face {
	font-family: "Nastaliq";
	src: url("./fonts/IranNastaliq.ttf");
}

.nastaliq {
	font-family: "Nastaliq";
}

body {
	font-family: "Vazir";
	font-size: 16px;
	background-color: rgb(235, 235, 235);
	color: #4f4f4f;
}

.sub-text {
	color: #8b8b8b;
}

.ghasem {
	font-family: "Ghasem";
}

.parand {
	font-family: "Parand";
}
